---
---


// Headers
$header-heading-color: #fff !default;
$header-bg-color: #3a6186 !default;
$header-bg-color-secondary: #89253e !default;

// Text
$section-headings-color: #00838f !default;
$body-text-color: #000000 !default;
$body-link-color: #00838f !default;

@import "{{ site.theme }}";
