---
---


// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #00838f !default;
$body-text-color: #000000 !default;
$body-link-color: #3d6e72 !default;

@import "{{ site.theme }}";
