---
---


// Headers
$header-heading-color: #fff !default;
$header-bg-color: #360033 !default;
$header-bg-color-secondary: #0b8793 !default;

// Text
$section-headings-color: #0b8793 !default;
$body-text-color: #000000 !default;
$body-link-color: #0b8793 !default;

html, body {
margin: 0;
padding: 0;
}
.background {
position: absolute;
display: block;  
top: 0;
  
left: 0;
  
z-index: 0;
}

@import "{{ site.theme }}";
