
<!DOCTYPE html>



<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b8793">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
 

    <header class="page-header" id="particles-js" role="banner">
      <canvas class="background"></canvas>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      
      {% if site.buttons.btn_1 %}
      	<a href="{{ site.buttons.url_btn_1 }}" class="btn">{{ site.buttons.text_btn_1 }}</a>
      {% endif %}
      {% if site.buttons.btn_2 %}
      	<a href="{{ site.buttons.url_btn_2 }}" class="btn">{{ site.buttons.text_btn_2 }}</a>
      {% endif %}
      {% if site.buttons.btn_3 %}
      	<a href="{{ site.buttons.url_btn_3 }}" class="btn">{{ site.buttons.text_btn_3 }}</a>
      {% endif %}
      {% if site.buttons.btn_4 %}
      	<a href="{{ site.buttons.url_btn_4 }}" class="btn">{{ site.buttons.text_btn_4 }}</a>
      {% endif %}
      {% if site.buttons.btn_5 %}
      	<a href="{{ site.buttons.url_btn_5 }}" class="btn">{{ site.buttons.text_btn_5 }}</a>
      {% endif %}
    </header>
    
    <main id="content" id="particles-js" class="main-content" role="main">
      {{ content }}
      

      <footer class="site-footer">
        <span class="site-footer-credits">{{ site.footer }}</span>
      </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
  </body>
</html>
